* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url(assets/Outer\ Space\ Gradient.png);
    background-repeat: repeat;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}

.maintext p {
    color: whitesmoke;
    font-size: 4rem;
    font-family: "Space Mono";
    border-right: 2px solid white;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 8s steps(13, end) infinite,
        cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {width: 0;}
    20% {width: 13ch;}
    80% {width: 13ch;}
    100% {width: 0;}
}

.subtext {
    color: whitesmoke;
    font-size: 1rem;
    font-family: "Space Mono";
}